body{
    margin: 0;
}

main{
    margin: 10px;
}
header{
    background-color:hsl(10, 94%, 55%);
    text-align: center;
    padding: 10px;
}

.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 37%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    
}

.navbar a:hover{
    background-color: hsl(0, 0%, 47%);
}

.navbar li{
    float: left;
}